Tareas/EjerciciosExamenFinal/ReservaHotel/xml-resources/web-service-references/WebService/wsdl/localhost_51550/WebService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="ObtenerCotizacion">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ObtenerCotizacionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ObtenerCotizacionResult" type="s:decimal" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ObtenerCotizacionSoapIn">
        <wsdl:part name="parameters" element="tns:ObtenerCotizacion" />
    </wsdl:message>
    <wsdl:message name="ObtenerCotizacionSoapOut">
        <wsdl:part name="parameters" element="tns:ObtenerCotizacionResponse" />
    </wsdl:message>
    <wsdl:portType name="WebServiceSoap">
        <wsdl:operation name="ObtenerCotizacion">
            <wsdl:input message="tns:ObtenerCotizacionSoapIn" />
            <wsdl:output message="tns:ObtenerCotizacionSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ObtenerCotizacion">
            <soap:operation soapAction="http://tempuri.org/ObtenerCotizacion" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ObtenerCotizacion">
            <soap12:operation soapAction="http://tempuri.org/ObtenerCotizacion" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebService">
        <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
            <soap:address location="http://localhost:51550/WebService.asmx" />
        </wsdl:port>
        <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
            <soap12:address location="http://localhost:51550/WebService.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>